{% extends "mask/base.html" %}

{% load template_utils %}

{% load static %}

{% block title %}
    {{ block.super }} :: blur
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'mask:index' %}">mask</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ post.id }}</li>
{% endblock breadcrumb %}

{% block container %}


    <div class="jumbotron">
    <small>{{ msg }}</small>
        <h1>{{ post.title }}</h1>
        <hr class="my-3">
        <dl class="row">
            <dt class="col-sm-2 ">{{ _('reg_date') }}</dt>
            <dd class="col-sm-4">{{ post.reg_date }}</dd>

            <dt class="col-sm-2">{{ _('author') }}</dt>
            <dd class="col-sm-4">{{ post.author }}</dd>

            <dt class="col-sm-2">{{ _('status') }}</dt>
            <dd class="col-sm-4">{{ post.get_status_display }}</dd>

            <dt class="col-sm-2">{{ _('mod_date') }}</dt>
            {% if post.mod_date %}
                <dd class="col-sm-4">{{ post.mod_date }}</dd>
            {% else %}
                <dd class="col-sm-4">Not Yet</dd>
            {% endif %}
        </dl>
        <hr class="my-3">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputPassword" class=" ">{{ _('Password') }}</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="*****"
                       required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password will be encrypted and nobody can't decrypt.
                </small>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">{{ _('OK') }}</button>
        </form>

    </div>
    <hr class="my-1">


{% endblock container %}